<!DOCTYPE html>

<html>

    <head>

        <title>Apps</title>

        <% include comcss.ejs %>

    </head>

    <body>
        
        <div class="screen">

            <!-- Canvas -->
            <div class="container-fluid m-0 p-0">

                <%- include(page) %>

            </div>

            <!-- Statusbar -->
            <footer class="statbar bg-dark border-top border-darker noselect">
                <div class="container-fluid row m-0 p-0 text-light">
                    <div class="col m-0 p-0 text-left">
                        <a href="/"><img class="invert" src="/res/img/home.svg" height="16px"></a>&nbsp;&gt;
                        <a href="/apps"><img class="whiteout" src="/res/img/apps.svg" height="16px"></a>&nbsp;&gt;&nbsp;<%- name %>
                    </div>
                    <div class="col m-0 p-0 text-right">
                        <img class="invert" id="foot-net" src="<%- netimg %>" height="16px">&nbsp;
                        <img class="invert" id="foot-bat" src="<%- batimg %>" height="16px">&nbsp;
                        <span id="time"><%- time %></span>
                    </div>
                </div>
            </footer>
        
        </div>

        <% include comjs.ejs %>

        <script src="/res/js/footerclock.js"></script>
        <script src="/res/js/footerdata.js"></script>

    </body>

</html>